<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link rel="stylesheet" href="{% static 'CSS/demo.css' %}">
</head>
<body>
<center>
<h1>Employee Infomation</h1>
    <table border="3px">
        <thead>
        <tr>
            <th>Emp_Name</th>
            <th>Emp_Locattion</th>
            <th>Emp_Email</th>
            <th>Emp_Salar</th>
        </tr>
        </thead>
        <tr>
            <td>p.pavankumar</td>
            <td>Badvel</td>
            <td>pavan@gmail.com</td>
            <td>22000</td>
        </tr>
        <tr>
            <td>p.pavankumar</td>
            <td>Badvel</td>
            <td>pavan@gmail.com</td>
            <td>22000</td>
        </tr>
        <tr>
            <td>p.pavankumar</td>
            <td>Badvel</td>
            <td>pavan@gmail.com</td>
            <td>22000</td>
        </tr>
        <tr>
            <td>p.pavankumar</td>
            <td>Badvel</td>
            <td>pavan@gmail.com</td>
            <td>22000</td>
        </tr>
        <tr>
            <td>p.pavankumar</td>
            <td>Badvel</td>
            <td>pavan@gmail.com</td>
            <td>22000</td>
        </tr>
    </table>


</center>
</body>
</html>